header {
 background: url("../img/sombra_header.png") 0 8.7rem repeat-x;
 .centrado;
 width: 100%;
 min-height: 10rem;
}
.wrapper {
.centrado;
 max-width: 117rem;
.relative;
}
.region-menu-superior {
 margin: 1.5rem 0 0 24rem;
 height: 4.5rem;
 width: 32.8rem;
 .left;
}

.region-buscador {
 width: 28rem;
.right;
 .relative;
 margin: 2.5rem 2rem 0 0;
}
.region-idiomas {
 margin: 3rem 1rem 0 0;
 padding: 0;
 float: right;
 width: 6rem;
}
