

@media screen and (max-width:1170px){

  .block-modulo-laboratorio-animed-block {

 min-height: 28.5rem;
max-height: 34.5rem;
 padding: 1.5rem;
 width: 49%;
 float: left;
 margin: 2rem 0 1rem 0;

}

.block-noticias-block {

 min-height: 28.5rem;
 max-height: 34.5rem;
 padding: 1.5rem;
 width: 49%;
 float: right;
 margin: 2rem 0 1rem 0;
}


 .block-publicidad-home-block {
 min-height: 11.5rem;
  overflow: hidden;
 clear: both;
 background: url("../img/bg-black.png") center top repeat;
}

.block-publicidad-home-block .block-title { display: none; }

.block-publicidad-home-block .views-field-field-image {
 width: 20rem;
}

 .block-publicidad-home-block .views-field-field-image img {
display: none;
}


.block-publicidad-home-block .views-field-field-logotipo {
 float: left;
 width: 16rem;
 height: 6rem;
 margin: 4.5rem 0 0 1rem;
}

.block-publicidad-home-block .views-field-field-descripcion p {
 width: 50%;
 float: left;

}

.block-publicidad-home-block .views-field-field-descripcion strong {
 font-size: 2.4rem;
 font-weight: 700;
}


}


@media screen and (max-width:980px){


 .section-header {
 background: url("../img/sombra_header.png") 0 14.2rem repeat-x;

}

.region-menu {
 float: none;
 clear: both;
 .centrado (2rem, 2rem);
  }

 .region-buscador {

 right: 11rem;

}

 .region-banner img {


}


 .region-banner .views-row-1 .views-field-title {

 top: 2rem;
 right: 2rem;

}

.region-banner .views-row-1 .views-field-field-descripcion {

 top: 10rem;
 right: 2rem;

}

.region-banner .views-row-2 .views-field-title {

 top: 2rem;
 right: 2rem;

}

.region-banner .views-row-2 .views-field-field-descripcion {

 top: 10rem;
 right: 2rem;

}

.region-banner .views-row-3 .views-field-title {

 top: 2rem;
 right: 2rem;

}

.region-banner .views-row-3 .views-field-field-descripcion {

 top: 10rem;
 right: 2rem;

}

.region-banner .views-row-4 .views-field-title {

 top: 2rem;
 right: 2rem;

}

.region-banner .views-row-4 .views-field-field-descripcion {

 top: 10rem;
 right: 2rem;

}


.region-menu-principal .content > ul.menu > li a {

 font-size: 1.4rem;
}

.region-menu-principal .content > ul.menu > li {
 width: 22%;

}


  .block-modulo-laboratorio-animed-block {

 height: 28.5rem;

 padding: 1.5rem;
 width: 100%;
 float: none;
 margin: 2rem 0 1rem 0;

}

.block-noticias-block {

 height: 28.5rem;
 padding: 1.5rem;
 width: 100%;
  float: none;
 margin: 2rem 0 1rem 0;
}

.section-content {
 .centrado(0,2rem);
 max-width: 117rem;
  padding: 0 1rem;

}

.articulo_activo { width: 100%; }

.articulo_inactivo { width: 100%; }

 .articulo_inactivo .views-field-field-image {
 width: 21.5rem;
 height: 13.8rem;
  opacity: 1;
}


  .block-publicidad-home-block {
 min-height: 11.5rem;
  overflow: hidden;
 clear: both;
 background: url("../img/bg-black.png") center top repeat;

}

.block-publicidad-home-block .block-title { display: none; }

.block-publicidad-home-block .views-field-field-image {
 display: none;
}

 .block-publicidad-home-block .views-field-field-image img {
display: none;
}


.block-publicidad-home-block .views-field-field-logotipo {
 float: left;
 width: 16rem;
 height: 6rem;
 margin: 4.5rem 0 0 5rem;
}

.block-publicidad-home-block .views-field-field-descripcion p {
 width: 60%;
 float: left;
}

 .region-footer-copy {
 width: 100%;
 margin: 1.5rem 0 0 0%;
 .b1;
}

  .region-footer-copy p   {
width: 100%;
 text-align: center;
 .b2;
}

 div.footer-autor {
float: none;
 text-align: center;
 .centrado(0,0);
 .b2;

 }


 .region-footer-ahorranito {
 width: 100%;
 margin: 1.5rem 0% 0 0;
 .b1;
}

}

@media screen and (max-width:768px){



 .zone-menu-principal {

 .centrado(1rem, 0);
  padding: 0 2rem;

}

 .region-menu-principal .content > ul.menu > li a {

 font-size: 1.6rem;
}


 .region-menu-principal .content > ul.menu > li > ul.menu {
.br(0);
 position: relative;
 margin: 0;
 top: 0;
 clear: both;
  padding: 1rem 1rem 0rem;

}

 .region-menu-principal .content ul.menu li:nth-of-type(1) ul.menu { background: none; }

.region-menu-principal .content ul.menu li:nth-of-type(2) ul.menu {background: none;}

.region-menu-principal .content ul.menu li:nth-of-type(3) ul.menu { background: none;}

.region-menu-principal .content ul.menu li:nth-of-type(4) ul.menu { background: none; }


.region-menu-principal .content > ul.menu { width: 100%; }

.region-menu-principal .content > ul.menu > li {
 width: 100%;
 float: left;
 margin: 1rem 0 0;
 position: relative;
  z-index: 999;

}

 .region-menu-principal .content > ul.menu > li > a {

 position: relative;
 z-index: 9999;
 height: 5rem;

}

 .region-menu-principal .content > ul.menu > li > ul.menu > li > a {
 background: url("../img/iconos/bineta.png") center left no-repeat;
 padding: .5rem 0;
 font-size: 1.2rem;
 width: 100%;
 display: block;
 text-indent: 1.8rem;
}

.block-publicidad-home-block .views-field-field-logotipo {

 position: relative;
 width: 16rem;
 height: 6rem;
  left: 50%;
  margin: 6rem 0 1rem -8rem;
   float: left;
  clear: both;
}

 .block-publicidad-home-block .views-field-field-descripcion  {
  position: relative;
float: left;

  width: 100%;
}

 .block-publicidad-home-block .views-field-field-descripcion p {
  .cero;
  width: 100%;
  padding: 0 2rem 2rem;
}



}

@media screen and (max-width:500px){


}
