@azul-light: #d5f0fc;
@azul-dark: #027082;
@amarillo-dark: #db8704;
@oro: #B0831E;

@verde: rgba(0, 79, 91, 1);
@verde-dark: rgba(40, 166, 166, 1);


@gris: #555;
@gris-light1: lighten(spin(@gris, 15), 25%);
@gris-light2: lighten(spin(@gris, 30), 50%);
@gris-light3: lighten(spin(@gris, 50), 60%);
@gris-light4: lighten(spin(@gris, 70), 80%);
@gris-dark1: darken(spin(@gris, -5), 5%);
@gris-dark2: darken(spin(@gris, -15), 25%);


